<style>
p {
font-size: 15px;

}
</style>

<h2>Your PIN verification code</h2>
<br>

<p>A request has been submitted to login to the {{ organisation_title }} online system.  Below is your temporary PIN verification code.</p>
<br>
<div style='background-color: #f5f5f5; border-radius: 5px;padding: 20px 20px 10px 30px; '><p>Your pin verification code is: <B style='padding-left: 10px; font-size: 17px'>{{ pin_code_decrypted }}</B><p></div>
<br>
<br>
<p><b>Why am i being sent this email?</b><br>
Your email address has been entered into a {{ organisation_title }} online system. The code within this email can be used to login to your account and access online tools.  If this was not you than please ignore this email.</p>
